* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #141e30, #243b55);
    padding: 10px;
}

.todoApp {
    width: 80%; 
    max-width: 540px;
    background: #1a1a1a;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.todoApp h2 {
    color: #00aaff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todoApp h2 img {
    width: 30px;
    margin: 10px;
    filter: brightness(0) invert(1);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2b2b2b;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: #2b2b2b;
    padding: 10px;
    color: #fff;
    margin-right: 10px; /* Add margin to separate input and button */
}

button {
    border: none;
    outline: none;
    padding: 16px 30px; /* Adjusted button padding */
    background: #ffcc00;
    color: #1a1a1a;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    transition: background 0.3s ease;
}

button:hover {
    background: #ff9900;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 30px; 
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #fff;
    z-index: 2;
}

ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    z-index: 1;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li.checked {
    color: #777;
    text-decoration: line-through;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #2b2b2b;
}

/* Media Query for Smaller Screens */
@media only screen and (max-width: 600px) {
    .todoApp {
        width: 90%; 
    }

    

    input {
        margin-right: 0; /* Remove margin for smaller screens */
        margin-bottom: 10px; /* Add margin to separate input and button */
        width:  auto;
    }

    button {
        width: auto; /* Set button width to 100% for smaller screens */
    }
}
